/******************** start certifications ******************/

.certifications_container {
    width: 80vw;
    height: 400px;
}

.card-wrapper {
    margin: 0 60px;
}

/******************** end certifications ******************/

/******************** start proyects ******************/
.container-projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/******************** end proyects ******************/




