/************************ start Header ***************/

.header {
    justify-content: space-between;
    padding: 0 30px;
}


.body--header-bars_menu {
    display: none;
}

.body--header-bars_links {
    position: relative;
    top: 0;
    width: auto;
    visibility: visible;
}

.body--header-bars_links ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.body--header-bars_links ul li {
    width: auto;
    margin: 0 30px;
}

/************************ end Header ***************/

/************************ start introd ***************/

.body--main_container-introd {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
}

.body--main_container-main_image {
    grid-column: 2 / 2;
    justify-items: flex-start;
}

.body--main_container-introd h1 {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
}

.body--main_container-introd p {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    text-align: center;
}

.body--main_container-main_info {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    display: flex;
    flex-direction: column;
    padding-left: 150px;
}

/************************ end introd ***************/

/**************** start about **********************/
.body--main_container-about p {
    padding: 0 100px;
}
/****************** end about **********************/

/******************** start education ******************/
.body--main_container-education_container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 150px;
}

.body--main_container-languageicons {
    display: none;
}

.body--main_container-languagelevel {
    display: flex;
    flex-direction: column;
}

.language_container{
    width: 100%;
}

.language_level figure img  {
    width: 150px;
}
/******************** end education ******************/

/******************** start stack ******************/
.body--main_container-stackicons {
    width: auto;
    flex-direction: row;
    padding: 0 50px;
}
/******************** end stack ******************/

/******************** start proyects ******************/
.container-projects {
    padding: 0 50px;
}

/******************** end proyects ******************/

